*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects-container h1{
  color: #4b1313;
}

.proj-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 100px 50px;
}

.proj-container .custom-card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: #f8dbdb;
  border-color: #b93231;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.25);
}

.proj-container .custom-card:hover{
  height: 400px;

}

.proj-container .custom-card .img-box{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.proj-container .custom-card:hover .img-box{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.proj-container .custom-card .img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-container .custom-card .custom-content{
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.proj-container .custom-card:hover .custom-content{
  top: 130px;
  height: 250px;

}

.proj-container .custom-card .custom-content h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;

}

.proj-container .custom-card .custom-content p{
  color: #333;
}

.proj-container .custom-card .custom-content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #181818;
  font-weight: 500;
}

.proj-container .custom-card .custom-content a:hover{
  opacity: 0.8;
}

@media (max-width:480px){
  .proj-container .custom-card{
      width: 230px;
      border-radius: 15px;
  }
  .proj-container .custom-card .img-box{
      width: 185px;
      border-radius: 10px;
  }
  .proj-container .custom-card .custom-content{
      font-size: 0.8rem;
  }
  .proj-container .custom-card .custom-content a{
      font-size: 0.9rem;
  }
}

